@import '../variables';

.active{
    background-color: #61dafb;
}

.main{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

    @media (max-width: $tablet-breakpoint) {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        gap: 15px;
    }
}