@import '../../variables';

.header {
  background-color: $primary-color-light;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;

  @media (max-width: $mobile-breakpoint) {
    padding: 10px 30px;
  }
}

.header__logo{
  @media (max-width: $mobile-breakpoint) {
    width: 105px;
  }
}

.header__btn{
  margin-right: 15px;

  @media (max-width: $mobile-breakpoint) {
    margin-right: 10px;

    &::after {
      content: 'Mod';
      display: inline-block;
    }

    span{
      display: none;
    }
  }
}

.header__btn_outline{
  @media (max-width: $mobile-breakpoint) {

    &::after {
      content: 'Login';
      display: inline-block;
    }

    span{
      display: none;
    }
  }
}
