.header {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}

.header__btn{
  margin-right: 15px;
}