@font-face {
  font-family: riskofrainsquare;
  src: url(./resources/riskofrainsquare.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: riskofrainsquare, sans-serif;
  font-size: 21px;
  background: #F8F9FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
